### Ejercicio 1: Selección y Filtrado

**Descripción:**

Dado un DataFrame productos con columnas id_articulo, Seccion, Nombre, Precio, fecha, importado y paisorigen
realiza las siguientes operaciones:

**1.** Selecciona las columnas Nombre y Precio

**2.** Filtra los productos con precio mayor a 100

**Código**:

In [ ]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._

In [ ]:
val productos = Seq(
  ("1", "Electrónica", "Auriculares Bluetooth", 25.99, "2024-02-15", "si", "china"),
  ("7", "Hogar", "Aspiradora", 149.00, "2024-01-20", "No", "Alemania"),  // 149 → 149.00
  ("6", "Electrónica", "Teléfono Móvil", 399.99, "2024-02-28", "si", "Corea del Sur"),
  ("4", "Juguetes", "Pelota de fútbol", 19.99, "2024-02-20", "no", "Brasil")
).toDF("id_articulo", "Seccion", "Nombre", "Precio", "fecha", "importado", "paisorigen")

### Ejercicio 2: Agregación

**Descripción**:
Dado el mismo DataFrame productos, realiza las siguientes operaciones:

**1.** Calcular el precio promedio por sección (agrupado por SECCIÓN)

**2.** Encontrar el precio máximo y mínimo por sección (agrupado por SECCIÓN)

**Código**:

### Ejercicio 3: Agregación

Descripción: Dado el  DataFrame pedidos, realiza las siguientes operaciones:

- Calcular el  calcula el número total de pedidos realizados por cada cliente.

**Código**:

### Ejercicio 4: Creación de una Nueva Columna

**a) Descripción**:
Dado el DataFrame productos, Crear una nueva columna "bonificación" en productos (10% del precio)

**Código**:

**b) Descripción**:

Dado el DataFrame pedidos,  crear una nueva columna "bonificación" en pedidos (10% del descuento)

**Código**:

### Ejercicio 5: Modificación de una Columna Existente

**a) Descripción**:
Dado el DataFrame productos, aumentar el precio de los productos en un 5% para una sección específica.

**Código**:

**b) Descripción**:

Dado el DataFrame pedidos, aumentar el descuento en un 5% para pedidos realizados con "Tarjeta" como forma de pago.

**Código**:

### Ejercicio 6: Ordenación de Datos

**a) Descripción**:
Dado el DataFrame productos, ordenar productos por precio en orden descendente.

**Código**:

**b) Descripción**:
Dado el DataFrame pedidos, ordenar pedidos por descuento en orden descendente.

**Código**:

### Ejercicio 7: Agrupación y Agregación

**Descripción**:

Dado el DataFrame proeductos, agrupa productos por sección  y calcular:

**1.** El número de productos 
**2.** EL precio promedio.

**Código**:

**b) Descripción**:

Dado el DataFrame pedidos, Agrupar pedidos por forma de pago y calcular: 

**1.** el número de pedidos.  

**2.** l descuento promedio.

**Código**: