### Ejercicio 1: Registrar un DataFrame como Vista Temporal

**Descripción**:

Carga el archivo productos en un DataFrame y regístralo como una vista temporal llamada vista_productos.

**Código**:

### Ejercicio 2: Registrar un DataFrame como Tabla Persistente

**Descripción**:

Carga el archivo pedidos en un DataFrame y regístralo como una tabla persistente llamada tabla_pedidos.

**Código**:

### Ejercicio 3: Consulta SQL sobre una Vista Temporal

**Descripción**:
Usando la vista temporal vista_productos, ejecuta una consulta SQL para seleccionar todos los productos de la sección "Electrónica" con un precio mayor a 50.

**Código**:

### Ejercicio 4: Consulta SQL sobre una Tabla Persistente

**Descripción**:

Usando la tabla persistente tabla_pedidos, ejecuta una consulta SQL para contar el número de pedidos realizados en el año 2023.

**Código**:

### Ejercicio 5: Unión de DataFrames (INNER JOIN)

**Descripción**:

Combina los DataFrames productos y productos_pedidos usando un INNER JOIN sobre la columna id_articulo. Muestra las columnas id_articulo, Nombre, Preco, fecha de ambos dataframes

**Código**:

### Ejercicio 6: Unión de DataFrames (LEFT JOIN)

**Descripcion**:

Combina los DataFrames productos y PRODUCTONUEVOS usando un LEFT JOIN sobre la columna CÓDIGOARTÍCULO. Muestra todos los productos originales, incluso si no tienen un producto nuevo correspondiente.

**Código**: